<div class="mt-32">
  <h1> Confirm your seats</h1>


  <div>
    <p><%= @ticket.ticket_serial %></p>
    <span><%= @ticket.departure %></span>  to 
    <span><%= @ticket.arrival %></span> 
    <p><%= @ticket.departure_date %></p> 
  </div>

  <% @seat.each do |f| %>
    <div>
      <span><%= f.area %></span>
      <span><%= f.seat_no %></span>
    </div>
  <%end%>
  <div>
      <button data-controller = "seat"
      data-seat-target="seatBookedInfo"
      data-ticket_id="<%= @ticket.id%>"
      data-action="click->seat#finish"> 
      <%= link_to '按我', root_path %>
      </button>
  </div>
  
</div>


<section class="text-gray-600 body-font bg-indigo-700 mt-28">
  <div class="flex flex-col ml-28 pt-10 mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font  text-orange-50">劃位資訊</h1>
  </div>  
  <div class="py-11  bg-indigo-900 ">
    <div class="flex lg:w-5/6 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end bg-orange-50 rounded-md ">
      
   
    </div>
  </div>
</section>
