<div class="mt-32 px-20"> 
  <h1 class="text-xl text-center font-bold">票價資訊</h1>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  航班資訊
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  數量
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  票價
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  燃油附加費
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  機場服務費
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  總計
                </th>
              </tr>
            </thead>
            <tbody>
              <% current_cart.items.each do |item| %>
                <tr class="border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <%#= item.ticket.ticket_serial %>
                    <%= "#{item.ticket.departure} → #{item.ticket.arrival}" %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <%= item.quantity %>
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%#= "TWD #{item.price}" %>
                    <%= "TWD " + number_with_delimiter(item.price) %>
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= "TWD " + number_with_delimiter(item.fuel_surcharge)%>
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= "TWD " + number_with_delimiter(item.airport_service_fee) %>
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= "TWD " + number_with_delimiter(item.tax_price) %>
                  </td>
                </tr>
                <% end %>
                <tr class="bg-white border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    總價
                  </td>
                  <td colspan="5" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <%= "TWD " + number_with_delimiter(current_cart.total_price) %>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <button class="inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 bg-gray-900 rounded-lg hover:bg-gray-800 focus:shadow-outline focus:outline-none mt-8"><%= link_to '回上一頁', tickets_path %></button>
  <button class="inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 bg-gray-900 rounded-lg hover:bg-gray-800 focus:shadow-outline focus:outline-none mt-8 mb-24"><%= link_to '清除購物車', cart_path, method: "delete" %></button>
  <button class="inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 bg-gray-900 rounded-lg hover:bg-gray-800 focus:shadow-outline focus:outline-none mt-8"><%= link_to '結帳', payment_path %></button>

</div>
