<h2>會員修改 </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "姓氏" %><br />
    <%= f.text_field :last_name , autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label "名字" %><br />
    <%= f.text_field :first_name , autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label "電話" %><br />
    <%= f.text_field :tel , autofocus: true, autocomplete: "tel" %>
  </div>

  <div class="field">
    <%= f.label "信箱" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "新密碼" %> <i>(如果不做更改請留空白)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最少<%= @minimum_password_length %>碼</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "再次確認新密碼" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "舊密碼" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>刪除我的帳戶</h3>

<p>Unhappy? <%= button_to "刪除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "回上頁", :back %>
