<header class="container ">
    <div class="absolute w-full top-0 left-0 bg-dark-900 bg-opacity-80 z-30">
        <div class="mx-auto flex flex-wrap items-center py-6 p-9 justify-between ">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 ">
                <div> 
                    <%= link_to root_path do %>
                    <img  class="w-60" src="/images/CelAstro_Font_LOGO_white.png" >
                    <% end %>
                </div>
            </div>
            <div class="flex justify-start">
                <div class=" hidden md:flex">
                    <% if !current_user %>
                    <button class="inline-flex items-center  focus:outline-none rounded text-base md:mt-0 text-yellow-500 body-font"><%= link_to '登入', new_user_session_path %>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15"><g fill="currentColor"><path d="M3 14s-1 0-1-1s1-4 6-4s6 3 6 4s-1 1-1 1H3zm5-6a3 3 0 1 0 0-6a3 3 0 0 0 0 6z"/></g></svg>
                        </svg>
                    </button>
                    <% end %>
                    <% if current_user%>   
                    <button class="inline-flex items-center focus:outline-none rounded text-base mt-4 md:mt-0 text-yellow-500 body-font"> <%= link_to '登出', destroy_user_session_path, method: :delete %></button>
                    <% end %>
                </div>
                <div class="inline-flex items-center py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 text-yellow-500 body-font">
                    <% if user_signed_in? %>Hi
                    <%= current_user.first_name%>
                    <button class="pl-5"><%= link_to '修改', edit_user_registration_path %></button>
                    <button><%= link_to '會員資料', edit_user_registration_path %></button>
                    <% end %>
                </div>
            </div>   
        </div>
    </div>    
</header>
    
