<div class="absolute w-full bg-dark-900 bg-opacity-80 mt-28 z-30">
  <div class="container text-gray-300 body-font p-2">
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-gray-400 flex flex-wrap items-center justify-around text-lg">
            <%= link_to "預定行程",class: 'hover:text-amber-500'%>
            <%= link_to "查詢航班", tickets_path, class: 'hover:text-amber-500'%>
            <%= link_to "準備啟程", class: 'hover:text-amber-500'%>
            <%= link_to "體驗星辰", class: 'hover:text-amber-500'%>
            <%=link_to "ASTROMILE會員", new_user_registration_path,class: 'hover:text-amber-500'%>
            <%= link_to "旅客支援", class: 'hover:text-amber-500'%>
        </nav>
    </div>
</div>
