<h1 class="mt-32">測試</h1>
<%=form_with url: "https://ccore.newebpay.com/MPG/mpg_gateway", method: "post" do |form|%>
  
  <%= form.text_field :MerchantID, value: @form_info[:MerchantID], class:"border-4 border-red-300"%>
  
  <%= form.text_field :TradeInfo, value: @form_info[:TradeInfo], class:"border-4 border-red-300"%>

  <%= form.text_field :TradeSha, value: @form_info[:TradeSha], class:"border-4 border-red-300"%>

  <%= form.text_field :Version, value: @form_info[:Version], class:"border-4 border-red-300"%>

  <%= form.submit'送出', class:"border-4 border-red-300"%>

<% end %>

 <%= current_cart.total_price%> 