
<section class="text-gray-600 body-font bg-indigo-700 mt-28">
  <div class="ml-28 pt-10 mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font  text-orange-50">付款資訊</h1>
  </div>

  <div class="py-11  bg-indigo-900 ">
    <div class="lg:w-5/6 sm:flex-row flex-col px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0  bg-orange-50 rounded-md m-auto">
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap mt-10 mb-10">
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium rounded-tl rounded-bl border-gray-200 mt-10 ">刷卡結果:</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium  border-gray-200 "> <%= notice%></th>
          </tr>
          <tr>
            <td class="px-4 py-3 border-gray-200 ">機票訂單編號:</td>
            <td class="px-4 py-3 border-gray-200 "><%= @response.order_no%></td>
          </tr>
          <tr>
            <td class="border-gray-200 px-4 py-3">交易序號: </td>
            <td class="border-gray-200 px-4 py-3"><%= @response.trans_no%></td>
          </tr>
          <tr>
            <td class=" border-gray-200 px-4 py-3">訂單金額: </td>
            <td class=" border-gray-200 px-4 py-3"><%= @response.result["Amt"]%></td>
          </tr>
          <tr>
            <td class="border-gray-200 px-4 py-3">付款完成日期: </td>
            <td class="border-gray-200 px-4 py-3"><%= @response.result["PayTime"]%></td>
          </tr>
        </table>
      </div>
      <%# <div><button class="text-white bg-brown-500  border-0 py-1 px-10 focus:outline-none hover:bg-brown-800 rounded text-lg mx-auto">前往劃位</button></div> %>
    </div>
  </div>
</section>




