
<section class="text-gray-600 body-font bg-indigo-700 ">
  <div class="flex flex-col ml-28 pt-10 mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font  text-orange-50">付款資訊</h1>
  </div>

  <div class="py-11  bg-indigo-900 ">
    <div class="flex lg:w-5/6 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end bg-orange-50 rounded-md ">
      <div class="w-full">
        <div class=" p-10 text-md text-gray-900 md:text-left lg:w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 ">

          <div class="bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-orange-800 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80  mb-5">
          <p class= "text-gray-900">刷卡結果: </p>
          <%= notice%>
          </div><br>

          <div class="bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-orange-800 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80  mb-5">
          <p class= "text-gray-900">機票訂單編號: </p>
          <%= @response.order_no%>
          </div><br>

          <div class="bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-orange-800 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80  mb-5">
          <p class= "text-gray-900">藍新金流交易序號: </p>
          <%= @response.trans_no%>
          </div><br>

          <div class="bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-orange-800 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80  mb-5">
          <p class= "text-gray-900">訂單金額: </p>
          <%= @response.result["Amt"]%>
          </div><br>

          <div class="bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-orange-800 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80  mb-5">
          <p class= "text-gray-900">付款完成日期: </p>
          <%= @response.result["PayTime"]%>
          </div><br>  
        </div>
      </div>
    </div>
  </div>
</section>











