 <%= render 'devise/shared/navbar' %> 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Demo styles -->
    <style>
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 1280px;
        height: 708px;
        object-fit: cover;
      }
      .swiper-button-next{
          color:#fff;
      }
      .swiper-button-prev{
          color:#fff;
      }
      .swiper-pagination-bullet{
          background-color: #fff;
      }
    </style>
  </head>

  <body>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper ">
        <div class="swiper-slide"><%=image_tag 'photo1'%></div>        
        <div class="swiper-slide"><%=image_tag 'photo2'%></div>
        <div class="swiper-slide"><%=image_tag 'photo3'%></div>
        <div class="swiper-slide"><%=image_tag 'photo4'%></div>
        <div class="swiper-slide"><%=image_tag 'photo5'%></div>
        <div class="swiper-slide"><%=image_tag 'photo6'%></div>
        <div class="swiper-slide"><%=image_tag 'photo7'%></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      });
    </script>
  </body>
</html>

<div>
    <div class="bg-dark-600 mx-auto ">
        <h2 class="text-xl p-4  text-gray-200 text-center">探索景點</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-5 gap-6 flex justify-between" >
        <div class="p-3 w-full md:w-64 justify-center items-center bg-dark-300 shadow-lg rounded-lg flex flex-col">
            <%= image_tag'england', class:'object-center object-cover rounded-lg'%>
            <div class="w-full p-4 justify-start flex flex-col">
            <h4 class="border-b-2 text-xl text-center text-gray-600">英國</h4>
            </div>
        </div>
        <div class="p-3 w-full md:w-64 justify-center items-center bg-dark-300 shadow-lg rounded-lg flex flex-col">
            <%= image_tag'tailand', class:'object-center object-cover rounded-lg'%>
            <div class="w-full p-4 justify-start flex flex-col">
            <h4 class="border-b-2 text-xl text-center text-gray-600">泰國</h4>
            </div>
        </div>
        <div class="p-3 w-full md:w-64 justify-center items-center bg-dark-300 shadow-lg rounded-lg flex flex-col">
            <%= image_tag'japan', class:'object-center object-cover rounded-lg'%>
            <div class="w-full p-4 justify-start flex flex-col">
            <h4 class="border-b-2 text-xl text-center text-gray-600">日本</h4>
            </div>
        </div>
        <div class="p-3 w-full md:w-64 justify-center items-center bg-dark-300 shadow-lg rounded-lg flex flex-col">
            <%= image_tag'korea', class:'object-center object-cover rounded-lg'%>
            <div class="w-full p-4 justify-start flex flex-col">
            <h4 class="border-b-2 text-xl text-center text-gray-600">韓國</h4>
            </div>
        </div>
        <div class="p-3 w-full md:w-64 justify-center items-center bg-dark-300 shadow-lg rounded-lg flex flex-col">
            <%= image_tag'singapro', class:'object-center object-cover rounded-lg'%>
            <div class="w-full p-4 justify-start flex flex-col">
            <h4 class="border-b-2 text-xl text-center text-gray-600">新加坡</h4>
            </div>
        </div>
    </div>
</div>
<div class="w-full bg-dark-500">
    <section class="max-w-6xl mx-auto px-3 sm:px-6 lg:px-4 py-10">
        <div class="text-center pb-12">
            <h1 class="font-normal text-2xl md:text-2xl lg:text-3xl font-heading text-gray-200">
                Starlights            
            </h1>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-gray-800 rounded-lg sahdow-lg  flex flex-col px-14 pt-10">
                <div class="mb-8">
                  <%= image_tag'starlights1', class:'object-center object-cover rounded-lg h-40 w-60'%>
                </div>
                <div class="text-center">
                    <p class="text-lg text-gray-200 font-light mb-2">旅行資訊</p>
                </div>
            </div>
            <div class="w-full bg-gray-800 rounded-lg sahdow-lg flex flex-col px-14 pt-10">
                <div class="mb-8">
                  <%= image_tag'starlights2', class:'object-center object-cover rounded-lg h-40 w-60'%>
                </div>
                <div class="text-center">
                  <p class="text-lg text-gray-200 font-light mb-2">旅行前登入行程管理預選餐點，一鍵即響知名餐廳主廚聯手打造的機上星級美味</p>
                </div>
            </div>
            <div class="w-full bg-gray-800 rounded-lg sahdow-lg flex flex-col px-14 pt-10">
                <div class="mb-8">
                  <%=image_tag'starlights3', class:'object-center object-cover rounded-lg h-40 w-60 '%>
                </div>
                <div class="text-center">
                  <p class="text-lg text-gray-200 font-light mb-2">星辰航空榮獲WTTC國際安全旅遊戳記，共同推動疫後台灣觀光旅遊發展</p>
                </div>
            </div>
        </div>
    </section>
</div>


