<<<<<<< HEAD
<header class="bg-dark-900 opacity-85">
     <div class="container p-5 text-gray-300 body-font">
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-gray-400	flex flex-wrap items-center justify-between text-base ">
            <a class="mr-5">預定行程</a>
            <a class="mr-5">班機時刻</a>
            <a class="mr-5">準備啟程</a>
            <a class="mr-5">體驗星辰</a>
            <a class="mr-5">ASTROMILE會員</a>
            <a class="mr-5">旅客支援</a>
        </nav>
=======
 <%= render 'devise/shared/navbar' %> 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Demo styles -->
    <style>
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 1920px;
        height: 708px;
        object-fit: cover;
      }
      .swiper-button-next{
          color:#fff;
      }
      .swiper-button-prev{
          color:#fff;
      }
      .swiper-pagination-bullet{
          background-color: #fff;
      }
    </style>
  </head>

  <body>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper ">
        <div class="swiper-slide"><%=image_tag 'photo1'%></div>        
        <div class="swiper-slide"><%=image_tag 'photo2'%></div>
        <div class="swiper-slide"><%=image_tag 'photo3'%></div>
        <div class="swiper-slide"><%=image_tag 'photo4'%></div>
        <div class="swiper-slide"><%=image_tag 'photo5'%></div>
        <div class="swiper-slide"><%=image_tag 'photo6'%></div>
        <div class="swiper-slide"><%=image_tag 'photo7'%></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
>>>>>>> dev
    </div>
</header>
