<section class="text-gray-600 body-font bg-indigo-700 mt-28">
  <div class="flex flex-col ml-28 pt-5 mb-5">
        <h1 class="sm:text-3xl text-2xl font-medium title-font  text-orange-50">機票查詢</h1>
  </div>  
    <div class="py-11  bg-indigo-900 ">
      <div class="flex lg:w-5/6 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end bg-orange-50 rounded-md ">
        <div class="relative flex-grow  my-14 mx-10">
          <%= search_form_for @q, url: search_path do |s| %>
          <div id="form_container">
            <div class="field border border-gray-600 ">
              <%= s.label :ticket_type_cont, "請選擇航程" %>
              <%= s.select :ticket_type_cont, ['one_way','roundtrip'], include_blank: true, class:' bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80 mb-5 ' %>
            </div>
            <div class="field border border-gray-600 ">
              <%= s.label :departure_cont, "Departure Airport 出發地" %>
              <%= s.select :departure_cont, ['TPE','HND'], include_blank: true, class:' bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80 mb-5 ' %>
            </div>
            <div class="field border border-gray-600 ">
              <%= s.label :arrival_cont, "Arrival Airport 目的地" %>
              <%= s.select :arrival_cont, ['HND', 'TPE'], include_blank: true, class:' bg-orange-50 bg-opacity-50 rounded border border-gray-500 focus:border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-300 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80 mb-5 ' %>
            </div>
            <div class="field border border-gray-600 ">
              <%= s.label :departure_date_cont, "Departure Date 出發日期" %>
              <%= s.text_field :departure_date_cont, placeholder: "yyyy-mm-dd", 
              data: {
              controller: "flatpickr",
              flatpickr_date_format: "Y-m-d",
              flatpickr_min_date: Time.zone.now
              } %>
              <%= s.label :returning_date_cont, "Return Date 回程日期" %>
              <%= s.text_field :returning_date_cont, placeholder: "yyyy-mm-dd", 
              data: {
              controller: "flatpickr",
              flatpickr_date_format: "Y-m-d",
              flatpickr_min_date: Time.zone.now
              }%>
            </div>
          <div><%= s.submit '搜尋' %></div>  
          <% end %>
      </div>
      <%= link_to 'HOME', root_path %>
    </div>
  </div>
</section>
<section>
  <div >
    <%= image_tag 'Celastro Map.png' %>
  </div>
</section>

