
<%= search_form_for @q, url: search_path do |f| %>

  <div class="field border border-gray-600 ">
    <%= f.label :departure_cont, "Departure Airport 出發地" %>
    <%= f.select :departure_cont, ['TPE','HND'], include_blank: true %>
    <select name="請選擇">
      <option value="one_way">單程</option>
      <option value="round_trip">來回</option>
    </select>
  </div>
  <div class="field border border-gray-600 ">
    <%= f.label :arrival_cont, "Arrival Airport 目的地" %>
    <%= f.select :arrival_cont, ['HND', 'TPE'], include_blank: true %>
  </div>
  <div class="field border border-gray-600 ">
    <%= f.label :departure_date_cont, "Departure Date 出發日期" %>
    <%= f.text_field :departure_date_cont, placeholder: "mm/dd/yyyy" %>
  </div>
  
  <div><%= f.submit '搜尋' %></div>  
<% end %>
 

<%= link_to 'HOME', root_path %>
<!-- <section>
  <Table>
    <thead>
      <tr>
        <td>Ticket ID</td>
        <td>Departure Airport</td>
        <td>Arrival Airport</td>
        <td>Departure Date</td>
        <td>Ticket Price</td>
        <td>ID</td>

      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
      <tr>
        <td>
        <%= ticket.ticket_id %>
       </td>
        <td><%= ticket.departure %></td>
        <td><%= ticket.arrival %></td>
        <td><%= ticket.departure_date %></td>
        <td><%= ticket.ticket_amount %></td>
        <td><%= ticket.id %></td>
      </tr>
      <% end %>
    </tbody>
  </Table>
</section>
 -->
