<div class="mt-32">
  <h1> Ticket Info</h1>

  <Table style="background-color: rgb(211, 211, 211);">
    <thead>
      <tr style="border: 2px solid black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <td style="padding:0px 10px; border-right: 1px solid black;">Ticket Type</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Ticket ID</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Departure Airport</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Arrival Airport</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Departure Date</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Departure Time</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Arrival Time</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Return Date</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Return Departure Time</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Return Arrival Time</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Ticket Price</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">ID</td>
        <td style="padding:0px 10px; border-right: 1px solid black;">Quantity</td>
      </tr>
    </thead>
    <tbody style="background-color: rgb(237, 237, 237); border-bottom: 2px solid black;">
      <% if not @ticket %>
        <h2> 查無紀錄 </h2>
      <% else %>
        <tr>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.ticket_type %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.ticket_serial %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.departure %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.arrival %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.departure_date %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.departure_time %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.arrival_time %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.returning_date %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.return_departure_time %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.return_arrival_time %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.ticket_amount %></td>
          <td style="padding: 50px 10px; border-right: 1px solid black;"><%= @ticket.id %></td>
          <td>
            <select name="ticket[:quantity]" id="ticket_quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </td>
          <td style="padding: 50px 10px; border-right: 1px solid black;">
            <%#= link_to "加入購物車", cart_items_path(@ticket), method: "post" %>
            <%= form_tag cart_items_path(@ticket), method: :post do %>
              <%= hidden_field_tag(:ticket_id, @ticket.id) %>
              <%= hidden_field_tag(:cart_type, Cart.cart_types[:buy_now]) %>
              <%= hidden_field_tag(:quantity, 1, id: "quantity") %>
              <button type="submit">加入購物車</button>
            <% end %>
          </td>
        </tr>  
      <% end %>
      <%= link_to "返回搜尋", tickets_path %>
    </tbody>
  </Table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function(){
    $("#ticket_quantity").change(function(){
      // alert($(this).val());
      const value = $(this).val();
      $("#quantity").val(value);
    })
  })
</script>


