<div class="mt-32">
  <h1> Ticket Info</h1>

  <Table style="background-color: rgb(211, 211, 211);">
    <thead>
      <tr>
        <td >Ticket Type</td>
        <td >Ticket ID</td>
        <td>Departure Airport</td>
        <td>Arrival Airport</td>
        <td>Departure Date</td>
        <td>Departure Time</td>
        <td>Arrival Time</td>
        <td>Return Date</td>
        <td>Return Departure Time</td>
        <td>Return Arrival Time</td>
        <td>Ticket Price</td>
        <td>ID</td>
        <td>Quantity</td>
      </tr>
    </thead>
    <tbody style="background-color: rgb(237, 237, 237); border-bottom: 2px solid black;">
      <% if not @ticket %>
        <h2> 查無紀錄 </h2>
      <% else %>
        <tr>
          <td><%= @ticket.ticket_type %></td>
          <td><%= @ticket.ticket_serial %></td>
          <td><%= @ticket.departure %></td>
          <td><%= @ticket.arrival %></td>
          <td><%= @ticket.departure_date %></td>
          <td><%= @ticket.departure_time %></td>
          <td><%= @ticket.arrival_time %></td>
          <td><%= @ticket.returning_date %></td>
          <td><%= @ticket.return_departure_time %></td>
          <td><%= @ticket.return_arrival_time %></td>
          <td><%= @ticket.ticket_amount %></td>
          <td><%= @ticket.id %></td>
          <td><%= button_to "加入購物車", add_cart_index_path(@ticket), method: "post" %></td>
        </tr>  
      <% end %>
      <%= link_to "返回搜尋", tickets_path %>
    </tbody>
  </Table>
</div>
<div>
  
  <%= params[:q][:departure_date_cont].to_date + 7.days %>
  <% Ticket.where(departure_date: params[:q][:departure_date_cont].to_date - 3.days..params[:q][:departure_date_cont].to_date + 3.days, departure: params[:q][:departure_cont], ticket_type: params[:q][:ticket_type_cont]).each do |ticket| %>
    <%= ticket.ticket_serial %>
  <%end %>

</div>
