<h1>Ticket Info</h1>

<% @tickets.search_ticket.each do |ticket| %>
  <div>
    <p><%= ticket.departure %></p>
    <p><%= ticket.arrival %></p>
    <p><%= ticket.departure_date %></p>  
    <p>ID:<%= ticket.ticket_id %></p>
    <p>票價: NTD$<%= ticket.ticket_amount %></p>
  </div>
<div>
  <%= link_to "回上頁", search_path %>
  <%= button_to "加入購物車"%>
</div>
<%end%>