<table class="min-w-full">
  <thead class="border-b">
    <tr>
      <th scope="col" class="text-base text-gray-600 text-center">
        票價
      </th>
      <th scope="col" class="text-base text-gray-600 text-center">
        燃油附加費
      </th>
      <th scope="col" class="text-base text-gray-600 text-center">
        機場服務費
      </th>
      <th scope="col" class="text-base text-gray-600 text-center">
        總計
      </th>
      <th scope="col" class="text-base text-gray-600 text-center">
        數量
      </th>
      <th colspan="1" scope="col" class="text-base text-gray-600 text-center">
      </th>
    </tr>
  </thead>
  <tbody>
    <% @buy_now_items.each do |item| %>
      <tr class="border-b">
        <td class="text-sm text-gray-900 font-light text-center whitespace-nowrap">
          <%= "TWD " + number_with_delimiter(item.price) %>
        </td>
        <td class="text-sm text-gray-900 font-light text-center whitespace-nowrap">
          <%= "TWD " + number_with_delimiter(item.fuel_surcharge)%>
        </td>
        <td class="text-sm text-gray-900 font-light text-center whitespace-nowrap">
          <%= "TWD " + number_with_delimiter(item.airport_service_fee) %>
        </td>
        <td class="text-sm text-gray-900 font-light text-center whitespace-nowrap">
          <%= "TWD " + number_with_delimiter(item.tax_price) %>
        </td>
        <td colspan="2" class="text-sm text-gray-900 font-light text-center whitespace-nowrap w-2">
          <div class="my-3">
            <%= form_for item, method:"patch" do |f| %>
              <%= f.number_field :quantity, min:1, max: 5 %>
              <%= f.button image_tag("icon-update.png"), class:"w-5 pl-1.5 pt-2"%>
            <% end %>
          </div>
        </td>
        <td class="text-sm text-gray-900 font-light text-center whitespace-nowrap w-5">
          <%= link_to image_tag("icon-trash.png"), cart_item_path(item), method: "delete", data: { confirm: '確認刪除？' } %>
        </td>
      </tr>
      <% end %>
      <tr class="bg-white border-b">
        <td class="text-center whitespace-nowrap text-sm font-medium text-gray-900">
          總價
        </td>
        <td colspan="6" class="text-sm text-gray-900 font-light text-center whitespace-nowrap">
          <%= "TWD " + number_with_delimiter(@total_price) %>
        </td>
      </tr>
  </tbody>
</table>