<div class="container  mx-auto flex flex-wrap items-center">
  <div class="lg:w-4/7 md:w-1/2 md:pr-16 lg:pr-0 pr-0 bg-orange-50 rounded-md ">
    <div class="w-60 h-60 mx-auto">
      <%= image_tag 'CelAstrologo_copy Small.png' %>
    </div>
    <h1 class="title-font font-medium text-3xl text-gray-900 text-center ">Experience CelAstro Airlines Membership </h1>
    <p class="leading-relaxed mt-4 text-center pb-10">一同體驗
      星辰航空會員方案</p>    
  </div>
  <div class="lg:w-4/7 md:w-1/2 bg-beige-80  p-8 flex flex-col md:ml-auto w-full md:mt-0 rounded-md">
    <% if @search.errors.any? %>
      <% @search.errors.full_messages.each do |message|%>
        <ul><li style="color:rgb(193, 192, 192);font-size: medium"><%= message %></li></ul>
        <% end %>
    <% end %>

    <%= form_for(@search) do |s|%>
    <div class="field border border-gray-600 ">
      <%= s.label :departure, "Departure Airport 出發地" %>
      <%= s.select :departure, ['TPE','HND'], include_blank: true %>
      <!-- <%= s.text_field :departure, autocomplete: "departure", placeholder: "TPE 台北/HND 東京"%> -->
    </div>
    <div class="field border border-gray-600 ">
      <%= s.label :arrival, "Arrival Airport 目的地" %>
      <%= s.select :arrival, ['HND', 'TPE'], include_blank: true %>
      <!-- <%= s.text_field :arrival, autocomplete: "arrival", placeholder: "TPE 台北/HND 東京" %> -->
    </div>
    <div class="field border border-gray-600 ">
      <%= s.label :departure_date, "Departure Date 出發日期" %>
      <%= s.text_field :departure_date, placeholder: "mm/dd/yyyy" %>
    </div>
    <div><%= s.submit '搜尋' %></div>  
    <% end %>
    <%= link_to 'HOME', root_path %>
  </div>
</div>



  