<!DOCTYPE html>
<html>
  <head>
    <title>CelAstro</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <% if user_signed_in? %>
          <%= current_user.first_name%>您好
          <%= button_to '登出', destroy_user_session_path, method: :delete %>
          <%= link_to '修改', edit_user_registration_path %>
        <% else %>
        <% end %>
      
        <%= yield %>
  </body>
</html>
